doctype 5
html
  head
    title World-o-vision
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://code.jquery.com/jquery-1.9.1.min.js")
    script(src="components/socket.io-client/dist/socket.io.min.js")
    script(src="/javascripts/worldovision.js")
  body
    block content
